header {
    background-color: #105512;
    color: white;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    min-height: 10px;
    margin: 0;
    padding: 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #1b9e1b;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px; /* adjust the margin */
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px; /* adjust the margin */
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  .nav-bottom {
    display: flex;
    justify-content: center;
    background-color: #1b9e1b;
    width: 100%;
    text-align: center;
    z-index: 2;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }  
  
  main {
    max-width: 800px;
    margin: 0 auto ;
    box-sizing: border-box;
  }
  
  
  section {
    margin: 30px 0;
    display: none;
  }
  
  #about {
    display: block;
    overflow: hidden;
  }
  
  #about img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  #about p {
    margin: auto /* adjust the margin to fit your image size */
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-top: -20px;
  }
  
  body {
    font-size: 16px;
    padding-top: 0px;
    margin: 0;
    padding: 0;
    margin-top: 0;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
 
  .photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    aspect-ratio: 4/3;
  }
  
  .photo-gallery img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }
  .photo-gallery .square {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .photo-gallery .square img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
  }

  .stitch-pattern {
    display: inline-block;
    margin: 10px;
    width: calc(10% - 20px); /* 10% of the width of the parent minus the margins */
    text-align: center;
  }
  
  .stitch-pattern {
    width: 25%;
    margin: 0;
    text-align: center;
  }
  
  .stitch-pattern img {
    width: 25%;
    height: 25%;
    object-fit: cover;
    object-position: center;
  }
  
  .stitch-pattern p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  

@media screen and (min-width: 768px) {
    .photo-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .photo-gallery img {
      height: calc(33.33vw * 0.8);
    }
  }
  
@media screen and (max-width: 767px) {
    .photo-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
    .photo-gallery img {
      height: calc(50vw * 0.8);
    }
  }
  
@media screen and (max-width: 480px) {
    .photo-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
    .photo-gallery img {
      height: calc(100vw * 0.8);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .stitch-patterns {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 20px;
      justify-items: center;
    }
    .stitch-pattern {
      text-align: center;
    }
    .stitch-pattern img {
      width: 500%;
      height: auto;
    }
    .stitch-pattern p {
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .stitch-patterns {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(calc(10% - 20px), 1fr));
      grid-gap: 20px;
      justify-items: center;
    }
    .stitch-pattern {
      text-align: center;
    }
    .stitch-pattern img {
      width: 60%;
      height: auto;
    }
    .stitch-pattern p {
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  
  @media screen and (max-width: 767px) {
    .stitch-patterns {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(calc(10% - 20px), 1fr));
      grid-gap: 20px;
      justify-items: center;
    }
    .stitch-pattern {
      text-align: center;
    }
    .stitch-pattern img {
      width: 65%;
      height: auto;
    }
    .stitch-pattern p {
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  
  @media screen and (max-width: 480px) {
    .stitch-patterns {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(calc(10% - 20px), 1fr));
      grid-gap: 20px;
      justify-items: center;
    }
    .stitch-pattern {
      text-align: center;
    }
    .stitch-pattern img {
      width: 75%;
      height: auto;
    }
    .stitch-pattern p {
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  
  