header {
    background-color: #105512;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    min-height: 10px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #1b9e1b;
    width: 100%;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 20px; /* adjust the margin */
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 800px;
    margin: 100px auto 0; /* add top margin that is equal to the height of the navbar */
    padding: 0 20px; /* add left and right padding for all screen sizes */
    box-sizing: border-box; /* include padding in total width */
  }
  
  section {
    margin: 100px 0 50px;
    display: none;
  }
  
  #about {
    display: block;
    overflow: hidden;
  }
  
  #about img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  #about p {
    margin-left: 200px; /* adjust the margin to fit your image size */
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  body {
    font-size: 16px;
    padding-top: 100px;
  }
  
  #iframe-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px; /* set the maximum width of the photo gallery */
    margin: 0 auto; /* center the photo gallery horizontally */
    text-align: center;
  }
  
  .square {
    width: calc((100% / 3) - 20px); /* use calc() to dynamically set the width of each square */
    padding-bottom: calc((100% / 6) - 20px); /* use calc() to dynamically set the padding-bottom of each square */
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 10px 0; /* add margin to the top and bottom of each row */
    border: 1rem solid white; /* add a white border */
  }
  
  
  .photo-gallery .square img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    margin: auto;
  }
 
  
/*Adjust the size of the photo gallery images for larger screens*/
@media only screen and (min-width: 768px) {
    .photo-gallery .square {
      width: calc((100% / 6) - 20px); /* use calc() to dynamically set the width of each square */
      padding-bottom: calc((100% / 6) - 20px); /* use calc() to dynamically set the padding-bottom of each square */
      margin: 10px; /* add margin to the top, bottom, left, and right of each square */
    }
  }
  
  /* Define the styles for tablet-sized screens */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .photo-gallery .square {
      width: calc((100% / 3) - 20px);
      padding-bottom: calc((100% / 3) - 20px);
      margin: 10px;
    }
  }
  
  /* Define the styles for smaller phone screens */
  @media only screen and (max-width: 480px) {
    .photo-gallery .square {
      width: calc((100% / 2) - 20px);
      padding-bottom: calc((100% / 2) - 20px);
      margin: 10px;
    }
  }